<div class="container-fluid">
    
    <div class="record-search row mb-2">
        <!-- Search Field -->
        <div class="col-md-12 col-xs-12 search-field mb-1">
            <select multiple id="searchInput">
                <option value="">{{'Search for keywords...' |_}}</option>
            </select>
        </div>
        
        <!-- Sort Fields -->
        <div class="col-md-4 col-xs-12 sort-field mb-1">
            <div class="row">
                <div class="col-xs-6">
                    <select id="sortField">
                        <option value="title">{{'Title' |_}}</option>
                        <option value="start">{{'Start Year' |_}}</option>
                        <option value="end">{{'End Year' |_}}</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select id="sortDirection">
                        <option value="asc">{{'Ascending' |_}}</option>
                        <option value="desc">{{'Descending' |_}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Filter Fields  -->
        <div class="col-md-8 col-xs-12 filter-field mb-1">
            <div class="row clear-dates">
                <a id="clearDates">{{'Reset' |_}}</a>
            </div>       
            <div class="row">
                <div class="col-md-6 col-xs-6"><input type="text" id="startDate" placeholder="{{'Start Year' |_}}"></div>
                <div class="col-md-6 col-xs-6"><input type="text" id="endDate" placeholder="{{'End Year' |_}}"></div>
            </div>
        </div>
    </div>

    {% if records.count > 0 %}
    <div class="projects-records" id="recordsContainer">
        {% for record in records %}
        <div class="col-xs-12 project-item">
            <div class="row">
                <div class="col-md-3 col-xs-12 img-container">
                    <a href="/projects/{{record.slug}}">
                        <img src="{{record.cover.thumb(258, 170, {mode: 'crop'})}}" alt="{{ record.title|striptags }}">
                    </a>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="row projects-list-content">
                        <a href="/projects/{{record.slug}}">
                            <div class="project-title">
                                {% if record.title %}
                                    {{record.title}}
                                    {% if record.tag %}
                                        <div class="project-title">({{record.tag}})</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                        <div class="project-dates">
                            {% if record.start and record.end %}
                            <div><span class="subinfo">{{'Project duration' |_}}:</span> {{record.start| date('Y')}} {% if record.end| date('Y') != record.start| date('Y') %} - {{record.end| date('Y')}} {% endif %}</div>
                            {% endif %}
                        </div>
                        <div class="project-keywords">
                            {% set keywords = (lang == 'en') ? record.keywords_en : record.keywords_bg %}
                            {% if keywords %}
                            <div><span class="subinfo">{{'Keywords' |_}}:</span>
                                {{ keywords|join(', ')|trim }}
                            </div>
                            {% endif %}
                        </div>
                        
                        <div class="read-more-project"><a class="read-more" href="/projects/{{record.slug}}">{{'Read More' |_}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
